/*Timer*/

.timer {
  display: flex;
  gap: 24px;
  margin-top: 32px;
}

.field {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.value {
  font-size: 40px;
  font-weight: 700;
  line-height: 1.2;
}

.label {
  font-size: 12px;
  text-transform: uppercase;
}

#datetime-picker {
  padding: 8px;
  font-size: 16px;
  border: 1px solid #808080;
  border-radius: 4px;
  width: 272px;
}

[data-start] {
  padding: 8px 16px;
  background-color: #4e75ff;
  color: #fff;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

[data-start]:disabled {
  background-color: #cfcfcf;
  cursor: not-allowed;
}


/*Snackbar*/

.form {
  display: flex;
  flex-direction: column;
  gap: 16px;
  max-width: 360px;
  padding: 24px;
}

.form label {
  display: flex;
  flex-direction: column;
  gap: 8px;
  font-family: "Montserrat", sans-serif;
}

.form fieldset {
  border: 1px solid #808080;
  border-radius: 4px;
  display: flex;
  gap: 15px;
  padding: 10px;
}

.form button {
  background-color: #4e75ff;
  color: white;
  border: none;
  border-radius: 8px;
  padding: 10px;
  cursor: pointer;
  font-weight: 500;
}

.form button:hover {
  background-color: #6c8cff;
}

/* Common styles */
@import url('./reset.css');
@import url('./base.css');
@import url('./container.css');
@import url('./animations.css');

/* Sections style */
@import url('./header.css');
@import url('./vite-promo.css');
@import url('./badges.css');
@import url('./back-link.css');
@import url('./footer.css');
